<h1>About Us</h1>

<ul class="list-group">
  <li class="list-group-item">
    <p>
      <%= image_tag "scott_nauman.jpg", size: "100x140", class: "text-wrap-right" %>
      <strong>Scott Nauman</strong>
    </p>
    <p>
      <em>Conductor/Artistic Director</em>
    </p>
    <p>
      Scott Nauman hails from Minnesota where he grew up attending concerts performed 
      at St. Olaf College located just ten minutes from the farm on which he was raised. 
      Influenced by rich choral music throughout his childhood and teenage years, he 
      began directing choirs, vocal ensembles, big bands and orchestras at the age of 
      twenty one and has performed in all fifty states and twenty countries. Having received 
      his musical training at the University of Northwestern (Minnesota) in conducting, 
      vocal, trumpet and percussion performance and church music, Scott became a studio 
      singer both in Minneapolis and Denver. One of his greatest joys was performing as a 
      backup singer with Celine Dion at Red Rocks. His involvement in studio and backup singing 
      led to an interest in the recording industry and working as a sound engineer/producer for 
      numerous Christian artists. For many years, Scott conducted the in-house orchestra at the 
      “Praise in the Rockies” music seminar in Estes Park directing for artists such as Steve Green, 
      Dino Kartsonakis, Sheila Walsh, Wintley Phipps, Michael Card, Michael W. Smith and Sandi Patty.
    </p>
    <p>
      Over the years, Scott has continued his musical career by serving in some of the largest 
      churches in Minnesota and, since 1985, Colorado. He is grateful for the influence he has 
      received from choral conductors such as Jerry Rubino, Mark Hayes, Gary Bonner, Janet Vlachos 
      and Dale Warland. They have each impacted and shaped his musical leadership. So when introduced 
      in February 2015 to the opportunity to serve as the assistant conductor of the Parker Chorale 
      under Paul Smith, Scott replied, “it was (and is) a privilege to glean from yet another 
      wonderful and gifted choral conductor such as Paul”.
    </p>
    <p>
      Scott enjoys hanging with people from his Fellowship Family, flying his (or anyone else’s) 
      airplane, motorcycling and fishing as well as downhill skiing with his wife Lynn.
    </p>
  </li>

  <li class="list-group-item">
    <p>
      <%= image_tag "jane_macqueen.jpg", size: "100x140", class: "text-wrap-right" %>
      <strong>Jane MacQueen</strong>
    </p>
    <p>
      <em>Accompanist</em>
    </p>
    <p>
      Jane MacQueen joined the Parker Chorale as the accompanist in January of 2011.  
      Jane also serves as staff accompanist for the choirs at Grandview High School 
      and is in her tenth year as an accompanist in the Cherry Creek School District.  
      Jane has accompanied the choirs at Cherry Creek High School including the 
      Meistersingers and Girls' 21.  Jane also serves as accompanist for the Young 
      Voices of Colorado.  She has enjoyed the honor of performing upon several occasions 
      with selected choirs from Cherry Creek High School and Campus Middle School at 
      the Colorado Music Educators Conference.  Jane has performed with choirs under 
      the direction of Henry Leck, Anton Armstrong, Randall Stroope, Hillary Apfelstadt 
      and Dennis Keene.  She accompanied the 2010 Southwest Regional ACDA Children’s Chorus 
      and the 2008 Colorado All-State Women's Chorus.  Jane has also accompanied for the 
      Colorado State ACDA Honor Choirs for several years.  Jane has played for many choral, 
      vocal and instrumental solo, and musical theatre performances and has served as 
      organist and pianist in Denver area churches.  Jane MacQueen received her Bachelor of 
      Fine Arts degree from the University of Oklahoma.
    </p>
  </li>
</ul>