<!--
<div class="header">
  <div class="container">
    <div class="heading">
      <img src="http://www.parkerchorale.org/siteimages/logo.for.print.jpg" height=89px width=210px>
      <p>Parker, Colorado's Adult Community Choral Group!</p>
      </div>
  </div>
</div>



<div class="menu">
  <div class="container">
    <ul class="nav">
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Hear Us Sing!</a></li>
      <li><a href="#">Gallery</a></li>
      <li><a href="#">Support Us</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>
  </div>
</div>
-->

<div class="jumbotron">
  <h1 style="margin-top: 1em;">Parker Chorale</h1>
  <h3><em>Sharing the Gift of Song</em></h3>
    <div class="container">
      <div class="col-md-12  col-xs-12">
        <%= image_tag("parker_chorale.jpg", id: "chorus-photo") %>
        
      <h3>Parker, Colorado's adult community choral group!</h3>
      <h2>We are a community group dedicated to fostering the arts and supporting
        music education in the Town of Parker and Douglas County.
      </h2>
    </div>
  </div>
</div>
