<div class="jumbotron">
  <h1 style="margin-top: 1em;">Parker Chorale</h1>
  <h3><em>Sharing the Gift of Song</em></h3>
    <div class="container">
      <div class="col-md-12  col-xs-12">
        <%= image_tag("facebook-background.jpg", id: "chorus-photo") %>
        
      <h3>Parker, Colorado's adult community choral group!</h3>
      <h2>We are a community group dedicated to fostering the arts and supporting
        music education in the Town of Parker and Douglas County.
      </h2>
    </div>
  </div>
</div>

<div class="row bottom-20">
  <div class="col-md-5 col-md-offset-1">
    <h3>Upcoming Performances</h3>

      
        <a href="<%= @upcoming_performance.purchase_link %>" 
            class="col-md-offset-1">
            <%= image_tag @upcoming_performance.event_pic.url %>
        </a>
      


  </div>

  <div class="col-md-4 col-md-offset-1">
    <h3>Join Us on Facebook</h3>
      <a href="http://www.facebook.com/pages/Parker-Chorale/369330451076">
        <%= image_tag "facebook-profile-pic.jpg", class: "col-md-offset-1", style: "height: 200px; width: 200px;" %>
      </a>
  </div>
</div>
