<h1>Support Us</h1>

<div class="container">
  <div class="row">
    <div class="col-md-12 table-responsive">
      <table class="table table-bordered">
        <tr>
          <td><%= image_tag "2015-Grant-Check.jpg", size: "255x196" %></td>
          <td><%= image_tag "2014-grant-check.jpg", size: "217x196" %></td>
          <td><%= image_tag "phs-donation-2.jpg", size: "255x196" %></td>
        </tr>

        <tr>
          <td>
            <small>Spring 2015: Parker Chorale presents a grant to
                   Legend High School's Choral Music Program.
            </small>
          </td>
          <td>
            <small>Spring 2014: Parker Chorale presents a grant to
                   Chaparral High School's Choral Music Program.
            </small>
          </td>
          <td>
            <small>Spring 2011: Parker Chorale presents a grant to
                   Ponderosa High School's Choral Music Program.
            </small>
          </td>
        </tr>
      </table>
    </div>
  </div>



  <div class="row">
    <div class="col-md-12">

      <p>Ticket sales account for only a small part of the Parker Chorale's expenses,
         so we count on donations from organizations and individuals to meet our
         annual budget.  The generosity of our patrons allows us to reserve weekly
         rehearsal space, purchase music, hire the best instrumentalists &amp; 
         conductors, and support music education in our community through our Parker
         Chorale Grant Program that provides funding for Douglas County School District
         High School Vocal Music Programs.
      </p>

      <p>The Parker Chorale is a 501c3 (non-profit) organization incorporated in the
         State of Colorado so all contributions are 100% tax-deductible.  Patrons can
         make a general contribution, sponsor a concert, place an ad in our programs
         and/or be a part of our <%= link_to 'Generous Supporters', generous_supporters_path %>
         page on this website.
      </p>

      <small>For more information on supporting the Parker Chorale and music education in
         Douglas County, please <a href="mailto:popealicia@msn.com">email us</a>.
      </small>

    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-md-offset-4">
      <p><small>Click here to make a donation:</small></p>
      <p>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="2GA4M9SPZNURG">
          <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" id="pp-button" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
          <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
      </p>
      <p><small>or Checks may be sent to:</small></p>
      <p class="top-margin-small"><small>Parker Chorale</small></p>
      <p class="top-margin-small"><small>17051 Numa Pl., Parker, CO 80134</small></p>
    </div>
  </div>

</div>