@import "bootstrap-sprockets";
@import "bootstrap";


.img-circle {
  height: 4em;
  width: 150px;
  border-radius: 10px;
}

#logo {
  float: left;
  margin-right: 10px;
  height: 4.2em;
  color: #fff;
  background: transparent;
}

#logo:hover {
  color: black;
  text-decoration: none;
}

.top-8 {
  margin-top: 8px;
}

.bottom-8 {
  margin-bottom: 8px;
}

.top-10 {
  padding-top: 10px;
}
