<footer class="footer">
  <small>
    Artistic Partner PACE Center, Parker CO
  </small>

  <nav>
    <ul>
      <li>
        <a href='http://www.parkeronline.org/index.aspx?NID=989'>
          <%= image_tag(src="pacelogo.jpg", class: "footer-logo") %>
      </li>
    </ul>
  </nav>
</footer> 