</br>

<footer class="footer">
  <small>
    Artistic Partner PACE Center, Parker CO
  </small>

  <nav>
    <ul>
      <li>
        <a href='http://parkerarts.org/' target="_blank">
          <%= image_tag(src="pacelogo.jpg", class: "footer-logo") %>
      </li>
    </ul>
  </nav>
</footer> 